@model graph_tutorial.Models.CourseFile

@{
    ViewBag.Title = "File";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<style>
    ul.file-list {
        list-style-type: none;
        padding: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

        ul.file-list li {
            display: flex;
            align-items: center;
            padding: 10px 25px;
            border-bottom: 1px solid #ccc;
        }

            ul.file-list li:last-child {
                border-bottom: none;
            }

            ul.file-list li span {
                flex-grow: 1;
            }

            ul.file-list li a {
                margin-left: 10px;
            }
</style>

<div class="card shadow-lg">
    <div class="card-body">

        @if (ViewBag.FolderInfo != null)
        {
            <h1 class="text-center">@ViewBag.FolderInfo.FolderName</h1>
            <br />

            if (ViewBag.FolderInfo.FileNames.Count != 0)
            {
                <ul class="file-list">
                    @foreach (string file in ViewBag.FolderInfo.FileNames)
                    {
                        <li>
                            <span>
                                @file
                                <br />
                                <span class="ml-2">/url/</span>
                            </span>
                            <a href="/Home/DeleteFile?courseId=@Html.DisplayFor(m => m.Id)&folder=@ViewBag.FolderInfo.FolderName&file=@file" onclick="return confirm('Are you sure you want to delete this file?');">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                    }

                </ul>
            }
            else
            {
                <div class="card bg-dark ">
                    <div class="card-body">
                        <h4 class="card-title text-white">No files found</h4>
                    </div>
                </div>
            }




        }

        <br />
        <br />

        <div class="row">
            <div class="col-4">
                <a type="button" href="/Home/Folders/@Html.DisplayFor(m => m.Id)" class="btn btn-outline-dark w-100 btn-lg btn-block">
                    Go
                    back
                </a>
            </div>
            <div class="col-8">
                @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="row w-100">
                        <input type="hidden" value="@Html.DisplayFor(m => m.Id)" name="courseId" id="courseId" />
                        <input type="hidden" value="@ViewBag.FolderInfo.FolderName" name="folder" id="folder" />
                        <div class="col-2" style="display: flex; justify-content: center; align-items:center;">
                            <label for="">Upload manually</label>
                        </div>
                        <div class="col-8 p-0 m-0">
                            <input type="file" required multiple name="files" id="files"
                                   class="btn btn-dark w-100 float-left btn-lg btn-block" />
                        </div>
                        <div class="col-2 p-0 pl-2   m-0">
                            <button id="btnSubmit" class="btn btn-dark h-100 w-100" onclick="">Upload</button>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>

